<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmu.filefinder.user.mapper.UserMapper">
	<!-- read -->
	<select id="getUserInfoByUserId" resultType="UserDTO">
		SELECT * FROM user
		WHERE user_id = #{user_id};
	</select>
	<select id="getUserInfoByUserEmail" resultType="UserDTO">
		SELECT * FROM
		user WHERE user_email = #{user_email};
	</select>

	<select id="checkUserExistence" resultType="UserDTO">
		select * from user
		where user_id = #{user_id};
	</select>
	<select id="getUserInfoList" resultType="UserDTO">
		SELECT * FROM user WHERE user_status = 1;
	</select>
	<select id="getUserInfoListUnapproved" resultType="UserDTO">
		SELECT * FROM user WHERE user_status = 0;
	</select>
	<select id="findUserId" resultType="string">
		SELECT user_id FROM user WHERE user_nm = #{user_nm} AND user_email = #{user_email}
	</select>
	<select id="findUserPw" resultType="string">
		SELECT user_id FROM user WHERE user_nm = #{user_nm} AND user_email = #{user_email} AND user_id = #{user_id}
	</select>
	<select id="getUserPw" resultType="string">
		SELECT user_pw FROM user WHERE user_id = #{user_id}
	</select>

	
	<!-- create -->
	<insert id="insUser">
		INSERT INTO user(user_id, user_pw, user_nm,
		user_email, user_authority, user_department, user_status) VALUES
		(#{user_id},
		#{user_pw}, #{user_nm}, #{user_email}, 1,
		#{user_department}, 0);
	</insert>
	
	<!-- update -->
	<update id="approvalUserRegistration">
		UPDATE user SET user_status = 1 WHERE user_id = #{id}; 
	</update>
	<update id="changeUserAuthorityManager">
		UPDATE user SET user_authority = 0 WHERE i_user = #{i_user}; 
	</update>
	<update id="changeUserAuthorityMember">
		UPDATE user SET user_authority = 1 WHERE i_user = #{i_user}; 
	</update>
	<update id="changeUserPw">
		UPDATE user SET user_pw = #{current_pw} WHERE user_id = #{user_id}; 
	</update>
	
	<!-- delete -->
	<delete id="unapprovalUserResistration">
		DELETE FROM user WHERE user_id = #{id}
	</delete>
	<delete id="deleteUserByIUser">
		DELETE FROM user WHERE i_user = #{i_user}
	</delete>
</mapper>