@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}

#main_container {
	width: 500px;
	position: relative;
	margin: auto;
	top: 180px;
}

#title {
	margin: 40 0 50;
	padding-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
	width: 500px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}

#content_id, #content_pw, #change_content {
	text-align: center;
}

#find_btn, #change_btn, #login_btn {
	margin: auto;
	box-sizing: border-box;
	background-color: #3aff3a;
}

#find_nm, #find_email, #find_btn, #login_btn, #find_id, #current_password, #user_id,
	#change_password, #change_password_confirm, #change_btn {
	padding: 10 10px 10;
	font-size: 15px;
	border: 0.1px solid darkgray;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 400px;
}

#show_id_div {
	display: none;
	border: 0.1px solid darkgray;
	border-radius: 5px;
	padding: 20 0;
	width: 400px;
	margin: auto;
	font-size: 16px;
	margin-top: 35px;
}
#login_btn {
	margin-top: 15px;
	display: none;
}

#id_find_text {
	margin-bottom: 10px;
	font-weight: bold;
}

#change_content {
	display: none;
}