@charset "UTF-8";

body {
	padding: 0px;
	font-family: monospace;
	width: 1024px;
	margin: auto;
}

form {
	margin: 0px;
}

select {
	appearance: none;
}

.flex {
	display: flex;
}

#title_container {
	margin: 40 0 70;
	padding-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 1024px;
}

.flex_title {
	display: flex;
	align-items: baseline;
}

#title {
	font-size: 22px;
	cursor: pointer;
}

#entire_container {
	width: 1024px;
	margin: auto;
}

#wholeViewContainer {
	display: flex;
	width: 1024px;
	margin: 0 auto;
}

#content_container {
	width: 640px;
	line-break: anywhere;
}

#middle_title {
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: 600;
}

.user_info_list_div {
	border: 0.1px solid darkgray;
	align-items: end;
	border-radius: 3px;
	padding: 15px 10;
	margin-bottom: 10px;
	display: flex;
}

.user_id_div {
	width: 100px;
}

.user_nm_div {
	width: 100px;
}

.user_email_div {
	width: 145px;
}

.user_department_div {
	width: 105px;
}

.user_authority_div {
	width: 105px;
}

.select_div {
	
}

.change_btn {
	padding: 7px 10;
	border: 0.1px solid darkgray;
	border-radius: 3px;
	width: 75px;
	margin-top: 10;
	text-align: center;
	font-size: 13;
	box-sizing: border-box;
}

.selectUserAuthority {
	height: 30;
	width: 75px;
	padding: 4px 23px 6px 7px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	font-size: 11;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	background-size: 20px;
}

.select_sub_div {
	width: 80;
}

.approval_div {
	width: 80px;
	margin: auto;
}

.approval, .unapproval {
	width: 80px;
	margin: 3 0;
	background-color: white;
	border: 0.1px solid darkgray;
	border-radius: 2px;
}

.user_id_div, .user_nm_div, .user_email_div, .user_department_div,
	.user_authority_div {
	margin: 0 5px;
	height: 55px;
	text-align: center;
}

.user_title_id, .user_title_nm, .user_title_email,
	.user_title_department, .user_title_authority {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
}

#sub_content_container {
	margin-left: 80px;
}

#category_list_container {
	border: 0.1px solid #b9b6b6;
	border-radius: 3px;
	padding: 20px 20 60 20;
}

.management_category {
	background-color: white;
	border: none;
	font-size: 15px;
	margin: 11 0 0;
}

.sub_category {
	background-color: white;
	border: 0.1px solid darkgray;
	width: 160px;
	border-radius: 5px;
	padding: 5 0;
	cursor: pointer;
}