<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmu.filefinder.main.mapper.MainMapper">

	<!-- read -->
	<select id="getCategoryList" resultType="CategoryDTO">
		SELECT i_category,
		category_nm, category_order, category_top, category_path,
		category_count FROM category;
	</select>
	<select id="getTotalNumberPosts" resultType="int">
		SELECT COUNT(i_file)
		AS category_count FROM file;
	</select>
	<select id="getLargeNumberPosts" resultType="int">
		SELECT category_count FROM category WHERE i_category = #{i_category};
	</select>
	<select id="getSmallNumberPosts" resultType="int">
		SELECT COUNT(i_file)
		AS category_count FROM file WHERE i_category = #{i_category};
	</select>
	<select id="getCategoryByNm" resultType="CategoryDTO">
		SELECT i_category,
		category_nm, category_order FROM category
		WHERE category_nm = #{nm};
	</select>
	<select id="getCategoryPathByIcategory" resultType="string">
		SELECT
		category_path FROM category WHERE i_category = #{i_category};
	</select>
	<select id="getCategoryNmByTop" resultType="string">
		SELECT category_nm
		FROM category WHERE i_category = #{category_top};
	</select>
	<select id="getCategoryByIcategory" resultType="CategoryDTO">
		SELECT * FROM
		category WHERE i_category = #{i_category};
	</select>
	<select id="getCategoryIcategoryByCategoryTop" resultType="int">
		SELECT i_category FROM category WHERE i_category = #{category_top};
	</select>
	<select id="getCategoryCountByIcategory" resultType="int">
		SELECT category_count FROM category WHERE i_category
		= #{i_category};
	</select>

	<!-- create -->
	<insert id="createCategory">
		INSERT INTO category (category_nm, category_order,
		category_top, category_path) VALUE (#{category_nm}, #{category_order},
		#{category_top}, #{category_path});
	</insert>

	<!-- update -->
	<update id="increaseSmallFileCount">
		UPDATE category SET category_count = category_count +
		1 WHERE i_category = #{i_category};
	</update>
	<update id="increaseLargeFileCount">
		UPDATE category SET category_count = category_count +
		1 WHERE i_category = #{category_top};
	</update>
	<update id="decreaseLargeFileCount">
		UPDATE category SET category_count = category_count -
		${category_count} where i_category = #{category_top}
	</update>
	<update id="decreaseFileCountByFileDelete">
		UPDATE category SET category_count = (category_count - 1) WHERE i_category = #{i_category};
	</update>

	<!-- delete -->
	<delete id="deleteSmallCategory">
		DELETE FROM category WHERE i_category =
		#{i_category};
	</delete>
	<delete id="deleteLargeCategory">
		DELETE FROM category WHERE category_top =
		#{i_category};
	</delete>

</mapper>
